substrate-back, substrate-next {
    display: inline-block;
    width: fit-content;
    height: fit-content;

    & button {
        background-color: transparent;
        border: none;

        & svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

anchor-next, anchor-back {
    display: inline-block;
    width: fit-content;
    height: fit-content;

    & a {
        display: inline-block;

        & svg {
            width: 4rem;
            height: 4rem;
        }
    }

    &.disabled {
        & a {
            opacity: 0.4;
        }
    }
}
